@using TheMoviePlace.Helpers;
@using System.Collections.Generic;
@using TheMoviePlace.Entities;
@model TheMoviePlace.Models.EditMovieViewModel

@{
    ViewData["Title"] = "Edit Movie";
    string strMovieImg = string.IsNullOrEmpty(Model.PosterUrl) ? $"~/images/{StringConstants.MovieNoImageName}" : $"~/{StringConstants.FileUploadFolder}/{Model.PosterUrl}";
}

@section Styles{
    <link rel="stylesheet" href="~/css/add-movie.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
}

<section>

        <form asp-controller="Movie" asp-action="EditMovie" method="post" enctype="multipart/form-data">
            <h2>Edit @Model.Name</h2>

            <input asp-for="Name" placeholder="Enter the movie name"/>

            <input asp-for="YearOfRelease" id="dtYearOfRelease" placeholder="Year Of Release"/>

            <textarea asp-for="Plot" type="textarea" placeholder="Plot"></textarea>

            <div id="UploadContainer">
                <input asp-for="Poster" id="fileImage" accept="image/jpeg,image/png">

                <div>
                    <img id="imgAvatar" src='@Url.Content(strMovieImg)'/>
                    <span id="imgAvatarRemove">X</span>
                </div>
            </div>

            <div id="searchbar-container">
                
                <label>Search for actors, producers</label>
                <div>
                    <div>
                        <input type="radio" value="1" id="rbtnactor" name="rbtnSearchRole" checked>
                        <label for='rbtnactor'>Actor</label>
                    </div>
                    <div>
                        <input type="radio" value="2" id="rbtnproducer" name="rbtnSearchRole">
                        <label for='rbtnproducer'>Producer</label>
                    </div>
                </div>

                <input id="txtSearchBar" type="text" placeholder="Type to Search">
                <ul id="searchbarList">
                </ul>
            </div>

            <ul id="selectedActorsContainer" data-listType="Actors">
                    @foreach(var oRole in Model.Roles.Where(r=>r.RoleReferenceID == 1))
                    {
                        <li data-rolereferenceid="1">
                            @oRole.Person.Name
                            <input type="hidden" data-id="@oRole.Person.PersonID" value="@oRole.Person.PersonID">
                            <i onclick="closeBtnClicked(event)">x</i>
                        </li>
                    }
            </ul>

            <ul id="selectedProducersContainer" data-listType="Producers">
                @foreach(var oRole in Model.Roles.Where(r=>r.RoleReferenceID == 2))
                    {
                        <li data-rolereferenceid="2">
                            @oRole.Person.Name
                            <input type="hidden" data-id="@oRole.Person.PersonID" value="@oRole.Person.PersonID">
                            <i onclick="closeBtnClicked(event)">x</i>
                        </li>
                    }
            </ul>

            <button id="btnSubmit" type="submit" class="btn btn-add">Edit Movie</button>

        </form>

    </section>

    <section id="addPersonContainer">

        <form id="formAddPerson" asp-controller="Person" asp-action="AddPerson" asp-antiforgery="true" method="post">
            <h2>Add an actor or Producer</h2>

            <input asp-for="NewPerson.Name" type="text" placeholder="Enter name"/>

            <input asp-for="NewPerson.DateOfBirth" id="dtDateOfBirth" type="text" placeholder="Date of birth"/>

            <textarea asp-for="NewPerson.Bio" placeholder="Bio"></textarea>
                    
            <select id="selNewPerson">
                <option value="1">Actor</option>
                <option value="2">Producer</option>
            </select>

            <select asp-for="NewPerson.GenderReferenceID">
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Other</option>
            </select>

            <input id="btnSubmit" type="submit" class="btn btn-add" value="Add">
        </form>
    </section>

    @section Scripts{
        <script src="https://cdn.jsdelivr.net/npm/flatpickr" type="text/javascript"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
        <script src="~/js/add-movie.js" type="text/javascript"></script>
    }